.notification {
    border-radius: 8px;
    font-weight: 500;
    padding: 10px;
}

.notification-error {
    border: 1px darkred solid;
    color: darkred;
}

.notification-info {
    border: 1px blue solid;
    color: blue;
}

.notification-warning {
    border: 1px orangered solid;
    color: orangered;
}